<%- include('../includes/head.ejs') %>
<body class="bg-white dark:bg-gray-900">
  <%- include('../includes/nav.ejs') %>
  <main class="p-5 py-5 lg:px-48 md:px-28">
    <h1
      class="mb-2 text-2xl font-bold capitalize tracking-tight text-gray-900 dark:text-white"
    >
      <%= article.title %>
    </h1>
    <div class="flex items-center">
      <svg
        class="w-6 h-6 stroke-slate-500 hover:fill-red-400 hover:stroke-red-400"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"
        ></path>
      </svg>
      <span class="mt-2 mb-2 text-slate-500 dark:text-slate-400">
        <%= article.likes %>
      </span>
    </div>
    <div class="mx-auto w-full lg:w-8/12">
      <img
        class="w-full object-cover rounded"
        src="/<%= article.imageUrl %>"
        alt="<%= article.title %>"
      />
    </div>

    <p class="mt-2 mb-2 p-6 text-slate-500 dark:text-slate-400">
      <%= article.body %>
    </p>
    <a
      href="/edit-article/<%= article.id%>?edit=true"
      class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-emerald-400 rounded-lg hover:bg-emerald-500 focus:ring-4 focus:ring-blue-300 dark:bg-emerald-400 dark:hover:bg-emerald-500 dark:focus:ring-blue-800"
    >
      Edit
      <svg
        class="ml-2 -mr-1 w-4 h-4"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"
        ></path>
      </svg>
      <!-- <svg
        class="ml-2 -mr-1 w-4 h-4"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
          clip-rule="evenodd"
        ></path> -->
      </svg>
    </a>
  </main>
  <%- include('../includes/end.ejs') %>
</body>
